@using Microsoft.AspNet.Identity
@model Footbet.Models.AdminChangePasswordViewModel

<p>Du er logget inn som <strong>@User.Identity.GetUserName()</strong>.</p>
<div class="row">
    <div class="col-lg-2 hidden-md hidden-sm hidden-xs">
        <img class="loginImage top-buffer " src="~/Content/images/1200px-2018_FIFA_World_Cup.png">
    </div>
    <div class="col-lg-7">
        @using (Html.BeginForm("ChangeUserPassword", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-lg-offset-1">
                    <h2>Endre brukers passord</h2>
                </div>
            </div>
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Change password" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>